/*body*/
.hero{
	background-color:#f8f8f8;
	overflow:hiddne;
}
.heading h1{
	color:#000000;
	font-size:55px;
	text-align:center;
	margin-top:50px;
}
.container{
	display:flex;
	justify-content:center;
	align-items:center;
	width:90%;
	margin:65px auto;
	
}
.hero-content{
	flex:1;
	width:600px;
	margin:0px 25px;
}
.hero-content h2{
	font-size:38px;
	margin-bottom:20px;
	color:#333;
}
.hero-content p{
	font-size:24px;
	line-height:1.5;
	margin-bottom:40px;
	color:#666;
}
.hero-content button{
	display:inline-block;
	background:#9932CC;
	color:#fff;
	padding:12px 24px;
	border-radius:5px;
	font-size:20px;
	border:none;
	transition:0.3% ease;
}
.hero-content button:hover{
	background-color:#ff6347;
	transform:scale(1.1);
}
.hero-image{
	flex:1;
	width:500px;
	margin:auto;
}
img{
	width:100%;
	height:auto;
	border-radius:10px;
}

/*contact*/
.contact{
	position:relative;
	min-height:100vh;
	padding:50px 100px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	background:url(../Assets/contactUs.webp);
	background-size:cover;
}
.content .content{
	max-width:800px;
	text-align:center;
}
.contact .content h2{
	font-size:36px;
	font-weight:500;
	color:#ffffff;
}
.contact .content p{
	font-weight:300;
	font-size:20px;
	color:#ffffff;
}
.c-container{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:30px;
}
.c-container .contactInfo{
	width:50%;
	display:flex;
	flex-direction:column;
}
.c-container .contactInfo .box{
	position:relative;
	padding:20pxx 0;
	display:flex;
}
.c-container .contactInfo .box .c-icon{
	min-width:60px;
	height:60px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	font-size:22px;
	
}
.c-container .contactInfo .box .text{
	display:flex;
	margin-left:20px;
	font-size:16px;
	color:#333;
	flex-direction:column;
	font-weight:300;
	}

.c-container .contactInfo .box .text h3{
	font-weight:500;
	color:#ffffff;
}
.contactForm{
	width:50%;
	
	padding:60px;
	background:#fff;
	
}
.contactForm h2{
	font-size:30px;
	color:#333;
	font-weight:500;
	
	
}
.contactForm .inputBox{
	position: relative;
	width:100%;
	margin-top:10px;
	
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width:100%;
	padding:5px 0;
	font-size:16px;
	margin:10px 0;
	border-bottom:2px solid #333;
	outline:none;
	resize:none;
}

.contactForm .inputBox span
{

position: absolute;
Left: 0;
margin:8px 0;
padding: 8px ;
font-size: 12px;
transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
width: 100px;
background: #00bcd4;
color: #fff;
border: none;
cursor: pointer; 
padding: 10px;
 font-size: 18
}

/* register */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/* register css */
.gradient-custom-3 {
	/* fallback for old browsers */
	background: #84fab0;
	
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
	}
	.gradient-custom-4 {
	/* fallback for old browsers */
	background: #84fab0;
	
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
	}